numpy>=2.0.0
websockets
sounddevice
soundfile
matplotlib!=3.9.*
PySide6>=6.9.0
crc
msdparser
# protoletariat		# dev only
protobuf>=6.0.0
pystream-protobuf
bleak                   # Coyote only
stm32loader @ git+https://github.com/diglet48/stm32loader@feat/device-table
